<a href="https://colab.research.google.com/github/JamesCequina/58002_OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

for loop through string

In [3]:
for x in "week":
  print(x)

w
e
e
k

for loop using break statement

In [6]:
for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

to display only thursday

In [7]:
for x in week:
  if x == "Thursday":
    print(x)
    break

Thursday

range() function

In [10]:
for x in range(6):
 print(x)

0
1
2
3
4
5

Nested Loop

In [11]:
adjective = ["Red", "Big", "Tasty"]
fruits = ["Apple", "Banana", "Cherry"]

While Loop

In [13]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

While Loop uisng Break Statement

In [23]:
i = 1
while i <= 6:
  if i == 3:
    print(i)
    break
  i += 1

3

Create a Python Program that displays

In [24]:
x = 0
while x <=10:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10